.container {
  margin-right: auto;
  margin-left: auto;
}

row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

row.reverse {
  flex-direction: row-reverse;
}

section.reverse {
  flex-direction: column-reverse;
}

// -- GENERATED GRID -- //

$last-name: false;
$breakpoints: map-get($grid, breakpoints);
@each $breakpoint, $properties in map-get($grid, breakpoints) {

  $tmp-id: index($breakpoints, ($breakpoint $properties));

  $tmp-last-size: 0px;

  @if($last-name != false) {
      $tmp-last-size: breakpoint($last-name);
  }

  $tmp-name: $breakpoint;

  $tmp-size: map-get($properties, "size");
  $tmp-color: map-get($properties, "color");

  @media only screen and (min-width: $tmp-last-size) {
    .container {
      width: breakpoint($breakpoint);
    }

    row {
      section[col="#{$tmp-name}"], section {
        box-sizing: border-box;
        flex: 0 0 auto;
        display: flex;

        @if map-get($grid, debug) == true {
          outline: 1px solid breakpoint-col($tmp-name);
        }
      }

      section[col="#{$tmp-name}"] {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
        display: block;
      }

      @for $i from 1 through map-get($grid, size) {
        section[col="#{$tmp-name}"], section[#{$tmp-name}="#{$i}"] {
          flex-basis: #{percentage($i / map-get($grid, size))};
          max-width: #{percentage($i / map-get($grid, size))};

          &:before, &:after {
            content: "";
            box-sizing: border-box;
            flex: 0 0 auto;
            display: block;
            flex-basis: map-get($grid, gutter); 
            max-width: map-get($grid, gutter);
            height: 32px;
            margin-top: 16px;
          }

          &.no-gutters {
            &:before, &:after {
              content: none;
            }
          }
        }

        @if $i <= map-get($grid, size) - 1 {
          .col-#{$tmp-name}-offset-#{$i} {
            margin-left: #{percentage($i / map-get($grid, size))};
          }
        }
      }

      .start-#{$tmp-name} {
        justify-content: flex-start;
        text-align: start;
      }

      .center-#{$tmp-name} {
        justify-content: center;
        text-align: center;
      }

      .end-#{$tmp-name} {
        justify-content: flex-end;
        text-align: end;
      }

      .top-#{$tmp-name} {
        align-items: flex-start;
      }

      .middle-#{$tmp-name} {
        align-items: center;
      }

      .bottom-#{$tmp-name} {
        align-items: flex-end;
      }

      .around-#{$tmp-name} {
        justify-content: space-around;
      }

      .between-#{$tmp-name} {
        justify-content: space-between;
      }

      .first-#{$tmp-name} {
        order: -1;
      }

      .last-#{$tmp-name} {
        order: 1;
      }
    }
  }
  $last-name: $breakpoint;
}